.container{

}
.body{
    display: grid;
    grid-template-columns: 4fr 8fr;
    margin-top: 40px;
}

.contacts_list{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: auto;
    height: 400px;
}
.contacts_item{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;

}
@media (max-width:599.98px) {
    .body{
        display: flex;
        flex-direction: column;
    }
    .contacts_list{
        flex-direction: row;
        height: 100%;
        gap: 10px;
        width: 96vw;
    }
    .contacts_item{
        padding-right: 30px!important;
    }
    .dialog_list{
        margin-left: 0!important;
        border-left: none!important;
    }
    .send_body{
        display: flex!important;
        margin-left: 0px!important;
        margin-right: 8px!important;
    }
    .send_body>div:nth-child(1){
        display: none;
    }
    .textarea{
        width: 100%;
    }
    
}
.pustoyContact{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 0px 10px 2px rgba(128, 128, 128, 0.247);
}
.pustoyContact p{
    text-align: center;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: default;
    opacity: 0.4;
}
.pustoyMessage{
    height: 400px;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.pustoyMessage p{
    display: block;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}
.contacts_item::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgba(128, 128, 128, 0.253);
    bottom: -20px;
}
.contacts_img{
    height: 60px;
    flex-basis: 60px;
    flex-shrink: 0;
}
.contacts_img img{
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.contacts_content{}
.contacts_name{

}
.contacts_shortDescription{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.dialog_list{
    margin-left: 10px;
    max-height: 400px;
    overflow-y: auto;
    border-left: 4px solid rgba(128, 128, 128, 0.247);
    padding-left: 10px;
}
.send_body{
    display: grid;
    grid-template-columns: 4fr 8fr;
    margin: 20px 20px 0 20px;
}
.textarea{
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    background: rgba(128, 128, 128, 0.247);
}
.send_body textarea{
    resize: none;
    height: 30px;
    width: 90%;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.send_body textarea::placeholder{
    font-size: 18px;
    padding-left: 10px;
    padding-top: 3px;
}
.send_body button{
    background: rgb(34, 173, 34);
    height: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: white;
    border-style: none;
    padding: 5px 30px;
}
.send_body button:hover{
    background: rgb(29, 116, 29);
}