
.contacts_item{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
}
.contacts_item::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgba(128, 128, 128, 0.253);
    bottom: 0;
}
.contacts_img{
    height: 60px;
    flex-basis: 60px;
    flex-shrink: 0;
    padding-left: 10px;

}
.contacts_img img{
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.contacts_content{}
.contacts_name{

}
.contacts_shortDescription{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.active{
    background: rgb(230, 228, 228);
}
@media (max-width:599.98px) {

    .contacts_name{
        display: none!important;
    }
    .contacts_item{
        padding-right: 30px!important;
    }
}