.item{
  color: black;
  background: rgb(235, 235, 235);
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}
.item>div{
  display: flex;
  align-items: center;
}
.item__post>div{
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
height: 60px;

}
.item__post>div>img{
  border-radius: 50%;
width: 60px;
height: 60px;
 }
 @media (max-width:329.98px) {
  .item__post>div{
    margin-left: 0px;
  }
 }
 .like{
margin-left: 50px;
cursor: pointer;
width: max-content;
 }
 .likeImg{
  width: 30px;
  height: 30px;
 }
 .likeImg>img{
  width: 100%;
  height: 100%;
 }
 .like p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}