.paginationConteiner{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    gap: 20px;
}
@media (max-width:767.98px) {
    .paginationConteiner{
        margin-top: 50px;
    }
}
@media (max-width:526.98px) {
    .paginationConteiner{
        flex-direction: column;
    }
.prev{
    order: 2;
    width: 100px;
}
.paginationNumber{
    order: 1;
}
.next{
    width: 100px;
    order: 3;
    position: absolute;
    top: 100px;
    right: 10px;
}
.divEmpty{
    order: 2;
    width: 100px;
    }
}

.paginationNumber{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    
}
.paginationNumber span{
    cursor: pointer;
    width: 40px;
    height: 30px;
    text-align: center;
    line-height: 1.7;
}
.paginationNumber span:hover{
    box-shadow: inset 1px 1px 1px rgb(34, 173, 34),inset -1px -1px 1px rgb(34, 173, 34);
    transition: all 0.3s ease 0s;

}
.paginationHover{
    box-shadow: inset 1px 1px 1px rgb(34, 173, 34),inset -1px -1px 1px rgb(34, 173, 34);
}
.divEmpty{
width: 93px;
height: 31px;
}
.paginControl{
    padding: 5px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border-radius: 20px;
    border-style: none;
    background: rgb(34, 173, 34);
    color: white;
    cursor: pointer;

}