.touched{
    border: 3px solid red;
}
.validContainer{
    position: relative;
    /* margin-bottom: 40px; */
    flex-basis: 400px;
}
@media (max-width:543.98px) {
    .validContainer{
      flex-basis: auto;
      width: 100%;
    }
    .validContainer textarea::placeholder{
      font-size: 18px!important;
    }
  }
  @media (max-width:414.98px) {
    .validContainer input{
      width: auto!important;
    }
  }

.dNone{
display: none;
}
.validError{
    position: absolute;
    background: rgb(164, 15, 15);
    color: white;
    padding: 5px;
    border-radius: 10px;
    bottom: 100%;
    transition: all 0.3s ease 0s;
    text-wrap: nowrap;
}