
.item{
    padding-left: 40px;
  cursor: pointer;
    margin: 100px 0;
    font-size: 24px;
  }
  .item p{
    text-decoration: none;
    
    font-size: 24px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(45deg, green 20%, #0D61BC 40%, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .item p.active {
    
    background: linear-gradient(45deg, green 20%, #0D61BC 40%, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    padding-left: 5px;
  }
  .list{
display: grid;
grid-template-columns: 60px 60px 60px;
gap: 10px;
height: 160px;
overflow: auto;
  }
  .list_item{
    width: 60px;
    height: 60px;
    
  }
  .list_item img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

.userContainer:hover{
  transform: scale(110%);
}
  .userName{
    position: absolute;
    top: -10px;
    z-index: 2;
    background: white;
    opacity: 0;
    visibility: hidden;
    font-size: 16px;
  }
  .userContainer:hover .userName{
    opacity: 1;
    visibility: visible;
  }
  .pustoy{
    object-fit: cover;
    width: 200px;
  }
  .pustoy img{
    width: 100%;
    height: 100%;
  }