
.peopleList{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;     
    gap: 30px; 
}
@media (max-width:1291.98px) {
    .peopleList{
        grid-template-columns: repeat(2,1fr);
    }
    .item{}
}
@media (max-width:767.98px) {

}
@media (max-width:634.98px) {
    .peopleList{
        grid-template-columns: repeat(1,1fr);
    }
    
}
@media (max-width:315.98px) {
    .item{
        width: 250px!important;
    }
}
.item{
    width:290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0.1em 0.1em 0.4em rgb(34, 173, 34);
    border-radius: 10px;
    background: rgb(235, 235, 235);
}
.homosImg{
    display: block;
}
.homosImgBody{
    width: 100px;
    height: 100px;
}
.homosImgBody img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.fullName{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}
.status{
    margin-top: 0;
}
.fullName span{}
.placeOfPozition{
}
.placeOfPozition span{}
.friendsNumber{

}
.friendsNumber p{}
.homosFriends{}
.homosFriendsText{}
.follow{
    padding: 5px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border-radius: 20px;
    border-style: none;
    background: rgb(34, 173, 34);
    color: white;
    cursor: pointer;
    width: 127px;
    margin-bottom: 10px;
}
