.main{
  margin-top: 50px;
}
.publish{
  display: flex;
  align-items: center;
  gap: 10px;

}
@media (max-width:543.98px) {
  .publish__img{
    align-self: flex-start;
  }
}
.publish__img{
  width: 60px;
  height: 60px;
}
.publish__img img{
  width: 100%;
  border-radius: 50%;
}

.content{
  grid-area: c;
  
}
.content img{
  width: 100%;
  height: 200px;
}
